@import url(./bootstrap.min.css);
@import url(./bootstrap-select.min.css);
@import url(./swiper-bundle.min.css);
/* Transition */
/*** Font Family  ***/
@font-face {
  font-family: 'fontLight';
  src: url("../fonts/GILROY-LIGHT.woff2") format("woff2"), url("../fonts/GILROY-LIGHT.woff") format("woff"), url("../fonts/GILROY-LIGHT.ttf") format("truetype");
}

@font-face {
  font-family: 'fontExtraBold';
  src: url("../fonts/GILROY-EXTRABOLD.woff2") format("woff2"), url("../fonts/GILROY-EXTRABOLD.woff") format("woff"), url("../fonts/GILROY-EXTRABOLD.ttf") format("truetype");
}

html,
body {
  scroll-behavior: auto !important;
  overflow-x: hidden;
}

body {
  font-family: "fontLight";
  background-color: #F2EFFF;
}

@media (min-width: 1600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
}

body:before {
  -webkit-animation: grain 8s steps(10) infinite;
          animation: grain 8s steps(10) infinite;
  background-image: url("../img/bg-noise.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: .4;
  position: fixed;
  top: -100%;
  width: 300%;
  pointer-events: none;
  z-index: 999;
}

body#home .navbar-brand .logo-black {
  display: none;
}

body#home .navbar .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
}

body#home .navbar .display-time {
  color: #FFFFFF;
}

body:not(#home) .navbar-brand .logo-white {
  display: none;
}

body:not(#home) .navbar .navbar-nav .nav-item .nav-link {
  color: #1E1E1E;
}

body:not(#home) .navbar .display-time {
  color: #1E1E1E;
}

@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

/*** Container ***/
.container-layout {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .container-layout {
    width: 100%;
    padding: 0 15px;
  }
}

.container-start {
  width: 97.5%;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .container-start {
    width: 100%;
    padding-left: 15px;
  }
}

.container-samll {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .container-samll {
    width: 100%;
    padding: 0 15px;
  }
}

.my-section {
  margin-top: 70px;
  margin-bottom: 70px;
}

@media (max-width: 991.98px) {
  .my-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.py-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 991.98px) {
  .py-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.padding-top {
  padding-top: 70px;
}

@media (max-width: 1199.98px) {
  .padding-top {
    padding-top: 130px;
  }
}

.img-fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.img-fit.contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.img-fit.position-absolute {
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.font-extra-bold {
  font-family: "fontExtraBold";
}

/*** Titles ***/
@media (min-width: 1600px) {
  .main-title {
    font-size: 130px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .main-title {
    font-size: 115px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .main-title {
    font-size: 80px;
  }
}

@media (max-width: 575.98px) {
  .main-title {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  .section-title {
    font-size: 90px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .section-title {
    font-size: 80px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .section-title {
    font-size: 40px;
  }
}

@media (max-width: 575.98px) {
  .section-title {
    font-size: 33px;
  }
}

@media (min-width: 1600px) {
  .title-sm, .home-list-works .work-details .info .details, .awards-selection .list-awards-selection {
    font-size: 24px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .title-sm, .home-list-works .work-details .info .details, .awards-selection .list-awards-selection {
    font-size: 22px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .title-sm, .home-list-works .work-details .info .details, .awards-selection .list-awards-selection {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .title-sm, .home-list-works .work-details .info .details, .awards-selection .list-awards-selection {
    font-size: 14px;
  }
}

.title-stroke {
  -webkit-text-fill-color: transparent;
}

.title-stroke.white {
  -webkit-text-stroke: 1px #FFFFFF;
}

.title-stroke.black {
  -webkit-text-stroke: 1px #1E1E1E;
}

.text-stroke {
  position: relative;
}

.text-stroke::before {
  content: attr(data-text);
  -webkit-text-stroke: 1px #1E1E1E;
  -webkit-text-fill-color: transparent;
  position: absolute;
  inset: 0;
  -webkit-transform: translate(-1.5%, -6.6%);
          transform: translate(-1.5%, -6.6%);
}

@media (min-width: 1600px) {
  .description-de {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .description-de {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .description-de {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .description-de {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .description-sm, .hero .social-media li .icon, .all-works .controls .bootstrap-select * {
    font-size: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .description-sm, .hero .social-media li .icon, .all-works .controls .bootstrap-select * {
    font-size: 14px;
  }
}

@media (max-width: 1199.98px) {
  .description-sm, .hero .social-media li .icon, .all-works .controls .bootstrap-select * {
    font-size: 12px;
  }
}

/*** Buttons ***/
button,
input,
optgroup,
select,
textarea {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn_main {
  border: 2px solid #1E1E1E;
  border-radius: 25px;
  padding: 0.45rem 1.5rem;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575.98px) {
  .btn_main {
    padding: 0.35rem 1rem;
  }
}

.btn_main.white {
  background-color: #FFFFFF;
  color: #1E1E1E;
}

.btn_main.white:hover {
  text-shadow: 0px 0px 1px #1E1E1E;
  text-decoration: underline;
}

.clr-white {
  color: #FFFFFF;
}

/*** Start Navbar ***/
@media (min-width: 1200px) {
  .navbar .navbar-nav {
    margin-left: 1rem;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link.active {
  font-family: "fontExtraBold";
  text-decoration: underline;
}

.navbar .display-time {
  position: relative;
  padding-left: 15px;
}

@media (min-width: 1200px) {
  .navbar .display-time {
    margin-right: 2rem !important;
  }
}

.navbar .display-time::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #DA3333;
  border-radius: 50%;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*** Start Hero ***/
@-webkit-keyframes roundandround {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes roundandround {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero .hero-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.hero .hero-title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
}

.hero .hero-title .ball {
  width: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: roundandround 7.5s 1.3s infinite linear;
          animation: roundandround 7.5s 1.3s infinite linear;
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .hero .hero-title .ball {
    margin-left: auto;
    margin-bottom: -40px;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-title .ball {
    width: 80px;
    margin-left: auto;
    margin-bottom: -30px;
  }
}

.hero .social-media li .icon {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575.98px) {
  .hero .social-media li .icon {
    font-size: 14px;
  }
}

.hero .social-media li .icon:hover {
  font-family: "fontExtraBold";
  text-decoration: underline;
}

.hero .text-rotate {
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 2.5%;
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.marquee-swiper,
.marquee-swiper-bottom {
  background: #1E1E1E;
  overflow: hidden;
}

.marquee-swiper .swiper-wrapper,
.marquee-swiper-bottom .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.marquee-swiper .swiper-slide,
.marquee-swiper-bottom .swiper-slide {
  text-align: center;
  font-size: 26px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 0 25px 0 50px;
}

@media (max-width: 575.98px) {
  .marquee-swiper .swiper-slide,
  .marquee-swiper-bottom .swiper-slide {
    font-size: 16px;
  }
}

.marquee-swiper .swiper-slide::before,
.marquee-swiper-bottom .swiper-slide::before {
  content: '';
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/shape-marquee.svg");
  background-size: contain;
}

/*** Work ***/
.home-list-works .work-details {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .home-list-works .work-details {
    padding: 1rem;
  }
}

.home-list-works .work-details::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(30, 30, 30, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

@media (min-width: 1200px) {
  .home-list-works .work-details::before {
    opacity: 0;
  }
}

.home-list-works .work-details .video-info,
.home-list-works .work-details .photo-info {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.home-list-works .work-details .video-info .img,
.home-list-works .work-details .photo-info .img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-list-works .work-details .video-info .img-hvr,
.home-list-works .work-details .photo-info .img-hvr {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-list-works .work-details .info {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.home-list-works .work-details .info .text .section-title,
.home-list-works .work-details .info .text .wrap {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .home-list-works .work-details .info .text .section-title,
  .home-list-works .work-details .info .text .wrap {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .home-list-works .work-details .info .text .wrap {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
}

.home-list-works .work-details .info .details {
  color: #FFFFFF;
  position: relative;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .home-list-works .work-details .info .details {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
}

.home-list-works .work-details .info .details::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url("../img/icon-play.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 100%;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .home-list-works .work-details:hover::before {
    opacity: 1;
  }
  .home-list-works .work-details:hover .photo-info .img {
    opacity: 0;
  }
  .home-list-works .work-details:hover .photo-info .img-hvr {
    opacity: 1;
  }
  .home-list-works .work-details:hover .info .text .section-title {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .home-list-works .work-details:hover .info .text .wrap {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .home-list-works .work-details:hover .info .text .wrap:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .home-list-works .work-details:hover .info .text .wrap:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .home-list-works .work-details:hover .info .text .wrap:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .home-list-works .work-details:hover .info .text .wrap:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .home-list-works .work-details:hover .info .text .wrap:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .home-list-works .work-details:hover .info .details {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/*** Footer ***/
footer {
  background-color: #F2EFFF;
  z-index: 99;
  position: relative;
}

footer .title {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: initial;
  text-decoration: none;
  color: #1E1E1E;
}

@media (min-width: 1200px) {
  footer .title {
    letter-spacing: 21.6px;
  }
}

footer .title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #1E1E1E;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  footer .title::after {
    width: 25%;
  }
}

@media (max-width: 1199.98px) {
  footer .title::after {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  footer .title-hvr:hover .title {
    letter-spacing: normal;
  }
}

footer .title-hvr:hover .title::after {
  width: 100%;
}

footer .border-bottom-footer {
  border-bottom: 4px solid #1E1E1E;
}

footer .circle-animation {
  height: 145px;
  width: 145px;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  footer .circle-animation {
    height: 85px;
    width: 85px;
    display: none;
  }
}

footer .mail a {
  color: #1E1E1E;
}

footer .mail a:hover {
  color: #1E1E1E;
}

footer .social-media .icon {
  color: #1E1E1E;
}

footer .social-media .icon:hover {
  color: #1E1E1E;
  font-family: "fontExtraBold";
}

.backToTop {
  cursor: pointer;
}

.backToTop .text {
  text-decoration: underline;
}

/*** Contact US ***/
@media (min-width: 1200px) {
  .contact-us .min-h {
    min-height: calc(100vh - 70px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1199.98px) {
  .contact-us .min-h {
    min-height: calc(100vh - 130px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.contact-us .title {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #1E1E1E;
}

@media (min-width: 1200px) {
  .contact-us .title {
    letter-spacing: 21.6px;
    display: block;
  }
}

@media (max-width: 1199.98px) {
  .contact-us .title {
    display: inline-block;
  }
}

@media (min-width: 1600px) {
  .contact-us .title {
    font-size: 140px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .contact-us .title {
    font-size: 120px;
  }
}

@media (min-width: 1600px) {
  .contact-us .description-de,
  .contact-us .mail a {
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .contact-us .description-de,
  .contact-us .mail a {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .contact-us .description-de,
  .contact-us .mail a {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .contact-us .description-de,
  .contact-us .mail a {
    font-size: 16px;
  }
}

.contact-us .border-bottom-footer {
  border-bottom: 4px solid #1E1E1E;
}

.contact-us .border-top-footer {
  border-top: 4px solid #1E1E1E;
}

.contact-us .circle-animation {
  height: 145px;
  width: 145px;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .contact-us .circle-animation {
    height: 85px;
    width: 85px;
  }
}

.contact-us .mail a {
  color: #1E1E1E;
}

.contact-us .mail a:hover {
  color: #1E1E1E;
}

.contact-us .social-media .icon {
  color: #1E1E1E;
}

.contact-us .social-media .icon:hover {
  color: #1E1E1E;
  font-family: "fontExtraBold";
}

.contact-us .contact-info li {
  padding: 1rem 0;
}

.contact-us .contact-info li:not(:last-child) {
  border-bottom: 1px solid #1E1E1E;
}

.contact-us .contact-info li:last-child {
  padding-bottom: 0;
}

.contact-us .contact-info li .tel {
  color: #1E1E1E;
}

.contact-us .contact-info li .tel:hover {
  font-family: "fontExtraBold";
}

/*** BIO ***/
.bio .pic {
  position: relative;
  height: 500px;
}

@media (max-width: 575.98px) {
  .bio .pic {
    height: 400px;
    margin-bottom: 50px;
  }
}

.bio .pic img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bio .pic:not(:hover) img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.bio .pic::after {
  content: '';
  position: absolute;
  background-image: url("../img/shape-bio-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 140px;
  bottom: -70px;
  left: -70px;
}

@media (max-width: 575.98px) {
  .bio .pic::after {
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: -40px;
  }
}

@media (min-width: 1200px) {
  .bio .logo {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .bio .bio-description {
    width: 85%;
  }
}

@media (min-width: 1600px) {
  .bio .bio-description {
    font-size: 17px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .bio .bio-description {
    font-size: 15px;
  }
}

/*** AWARDS & SELECTIONS ***/
.awards-selection .list-awards-selection li {
  padding: 1rem 0;
}

.awards-selection .list-awards-selection li:not(:last-child) {
  border-bottom: 1px solid #1E1E1E;
}

.awards-selection .list-awards-selection li:last-child {
  padding-bottom: 0;
}

.text-rotate {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*** All Works ***/
.all-works-title .shape-works {
  max-width: 175px;
}

@media (min-width: 1200px) {
  .all-works-title .shape-works {
    max-width: 200px;
  }
}

@media (min-width: 1600px) {
  .all-works-title .main-title {
    font-size: 160px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .all-works-title .main-title {
    font-size: 140px;
  }
}

.all-works .container-filter .mix,
.all-works .container-filter .gap {
  display: inline-block;
}

.all-works .container-filter .mix {
  display: none;
}

.all-works .container-filter .work-details {
  height: 400px;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .all-works .container-filter .work-details {
    padding: 1rem;
  }
}

.all-works .container-filter .work-details::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(30, 30, 30, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

@media (min-width: 1200px) {
  .all-works .container-filter .work-details::before {
    opacity: 0;
  }
}

.all-works .container-filter .work-details .photo-info {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.all-works .container-filter .work-details .photo-info .img {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.all-works .container-filter .work-details .photo-info .img-hvr {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.all-works .container-filter .work-details .info {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.all-works .container-filter .work-details .info .text .section-title,
.all-works .container-filter .work-details .info .text .wrap {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .all-works .container-filter .work-details .info .text .section-title,
  .all-works .container-filter .work-details .info .text .wrap {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .all-works .container-filter .work-details .info .text .wrap {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
}

.all-works .container-filter .work-details .info .details {
  color: #FFFFFF;
  position: relative;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .all-works .container-filter .work-details .info .details {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
  }
}

.all-works .container-filter .work-details .info .details::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url("../img/icon-play.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 100%;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .all-works .container-filter .work-details:hover::before {
    opacity: 1;
  }
  .all-works .container-filter .work-details:hover .photo-info img {
    -webkit-transform: scale3d(1.3, 1.3, 1);
            transform: scale3d(1.3, 1.3, 1);
  }
  .all-works .container-filter .work-details:hover .info .text .section-title {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .all-works .container-filter .work-details:hover .info .text .wrap:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .all-works .container-filter .work-details:hover .info .details {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.all-works .controls {
  position: fixed;
  z-index: 9;
}

@media (min-width: 1200px) {
  .all-works .controls {
    left: 2rem;
    bottom: 2rem;
  }
}

@media (max-width: 1199.98px) {
  .all-works .controls {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 1.5rem;
  }
}

.all-works .controls .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.all-works .controls .dropdown-toggle::after {
  border: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .all-works .controls .dropdown-toggle::after {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1199.98px) {
  .all-works .controls .dropdown-toggle::after {
    width: 12px;
    height: 12px;
  }
}

.all-works .controls .dropdown-toggle.show::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.all-works .controls .bootstrap-select > .dropdown-toggle {
  border: 2px solid #1E1E1E;
  border-radius: 25px;
  text-decoration: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0.45rem 2.5rem 0.45rem 1.5rem;
}

.all-works .controls .bootstrap-select > .dropdown-toggle.show {
  border-radius: 0px 0px 25px 25px;
  border-top-color: rgba(30, 30, 30, 0.4);
}

.all-works .controls .bootstrap-select > .dropdown-toggle .filter-option-inner-inner {
  font-family: "fontExtraBold";
}

.all-works .controls .bootstrap-select * {
  color: #1E1E1E;
}

.all-works .controls .bootstrap-select .dropdown-menu:not(.inner) {
  border: 2px solid #1E1E1E;
  border-radius: 25px;
  border-radius: 25px 25px 0px 0px;
  border-bottom-color: transparent;
  bottom: -4px !important;
}

.all-works .controls .bootstrap-select .dropdown-item.active, .all-works .controls .bootstrap-select .dropdown-item:active {
  font-family: "fontExtraBold";
  background-color: transparent;
}

.responsive-embed {
  position: relative;
  height: 80vh;
}

.responsive-embed iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1199.98px) {
  .responsive-embed {
    height: 350px;
  }
}

.inner-works {
  /*** Swiper Images ***/
}

.inner-works .more-works {
  border-bottom: 4px solid #1E1E1E;
  padding-bottom: 1rem;
}

.inner-works .more-works a {
  color: #1E1E1E;
}

@media (min-width: 992px) {
  .inner-works .info .details .section-title {
    margin-bottom: 2.5rem !important;
  }
}

@media (min-width: 1200px) {
  .inner-works .swiper_thumbs {
    height: 100vh;
  }
}

@media (max-width: 1199.98px) {
  .inner-works .swiper_thumbs {
    height: 100px;
  }
}

.inner-works .swiper_thumbs .swiper-slide {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .inner-works .slider-images {
    padding-left: 5px !important;
  }
}

@media (max-width: 1199.98px) {
  .inner-works .slider-images {
    padding-top: 1rem;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .inner-works .slider-images .swiper_images {
    height: 68vh;
  }
}

@media (max-width: 1199.98px) {
  .inner-works .slider-images .swiper_images {
    height: 250px;
  }
}

/*** See Also ***/
.see-also .swiper-see-also {
  overflow: hidden;
}

.see-also .swiper-see-also .swiper-slide a {
  text-decoration: none;
  color: #1E1E1E;
}

.see-also .swiper-see-also .swiper-slide a .img {
  overflow: hidden;
}

.see-also .swiper-see-also .swiper-slide a .img img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
  .see-also .swiper-see-also .swiper-slide a .img img {
    height: 350px;
  }
}

@media (max-width: 1199.98px) {
  .see-also .swiper-see-also .swiper-slide a .img img {
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .see-also .swiper-see-also .swiper-slide a:hover img {
    -webkit-transform: scale3d(1.3, 1.3, 1);
            transform: scale3d(1.3, 1.3, 1);
  }
}

/*** Start Cursor ***/
.cursor-custom.filter .cursor-dot-outline {
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  -webkit-transform: translate(-50%, -50%) scale(2.5) !important;
          transform: translate(-50%, -50%) scale(2.5) !important;
}

.cursor-custom .cursor-dot,
.cursor-custom .cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-custom .cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #1E1E1E;
}

.cursor-custom .cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1199.98px) {
  .cursor-custom {
    display: none;
  }
}

/*** End Cursor ***/
/*** 404 ***/
@media (min-width: 1200px) {
  .not-found .min-h {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: calc(100vh - 70px);
  }
}

@media (max-width: 1199.98px) {
  .not-found .min-h {
    min-height: calc(100vh - 130px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.not-found .title {
  font-family: "fontExtraBold";
}

@media (min-width: 1600px) {
  .not-found .title {
    font-size: 300px;
  }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
  .not-found .title {
    font-size: 260px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .not-found .title {
    font-size: 200px;
  }
}

@media (max-width: 575.98px) {
  .not-found .title {
    font-size: 100px;
  }
}

.not-found .ball {
  width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: roundandround 7.5s 1.3s infinite linear;
          animation: roundandround 7.5s 1.3s infinite linear;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 575.98px) {
  .not-found .ball {
    width: 100%;
  }
}

.not-found .border-bottom-footer {
  border-bottom: 4px solid #1E1E1E;
}

.not-found .border-top-footer {
  border-top: 4px solid #1E1E1E;
}

.not-found .social-media .icon {
  color: #1E1E1E;
}

.not-found .social-media .icon:hover {
  color: #1E1E1E;
  font-family: "fontExtraBold";
}

.not-found .back-home {
  color: #1E1E1E;
}

.not-found .marquee-not-found .not-found-swiper .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.not-found .marquee-not-found .not-found-swiper .swiper-slide {
  height: 180px;
}

.not-found .marquee-not-found .not-found-swiper .swiper-slide img {
  mix-blend-mode: soft-light;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*# sourceMappingURL=style.css.map */