@import url(./bootstrap.min.css);
@import url(./bootstrap-select.min.css);
@import url(./swiper-bundle.min.css);


// Color Pallete
$white: #FFFFFF;
$black:#1E1E1E;
$gray:#F2EFFF;
$red:#DA3333;
/* Transition */
$transitionFast: all 0.3s ease-in-out;
$transitionSlow: all 0.6s ease-in-out;

/*** Font Family  ***/
@font-face {
    font-family: 'fontLight';
    src: url('../fonts/GILROY-LIGHT.woff2') format('woff2'),
        url('../fonts/GILROY-LIGHT.woff') format('woff'),
        url('../fonts/GILROY-LIGHT.ttf') format('truetype');
}

@font-face {
    font-family: 'fontExtraBold';
    src: url('../fonts/GILROY-EXTRABOLD.woff2') format('woff2'),
        url('../fonts/GILROY-EXTRABOLD.woff') format('woff'),
        url('../fonts/GILROY-EXTRABOLD.ttf') format('truetype');
}

$fontLight:'fontLight';
$fontExtraBold:'fontExtraBold';


html,
body {
    scroll-behavior: auto !important;
    overflow-x: hidden;

}

// .scrollbar {
//     height: 100vh;
// }

// .scrollbar-track-y {
//     @media (min-width: 1200px) {
//         opacity: 1 !important;
//     }
// }

body {
    font-family: $fontLight;
    background-color: $gray;

    @media (min-width: 1600px) {
        font-size: 18px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 16px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 14px;
    }


    @media (max-width: 575.98px) {
        font-size: 14px;
    }
    &:before {
        animation: grain 8s steps(10) infinite;
        background-image: url('../img/bg-noise.png');
        content: "";
        height: 300%;
        left: -50%;
        opacity: .4;
        position: fixed;
        top: -100%;
        width: 300%;
        pointer-events: none;
        z-index: 999;
    }
    &#home {
        .navbar-brand {
            .logo-black {
                display: none;
            }
        }

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $white;
                    }
                }
            }

            .display-time {
                color: $white;
            }
        }
    }

    &:not(#home) {
        .navbar-brand {
            .logo-white {
                display: none;
            }
        }

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $black;
                    }
                }
            }

            .display-time {
                color: $black;
            }
        }
    }
    @keyframes grain {

        0%,
        100% {
          transform: translate(0, 0);
        }
    
        10% {
          transform: translate(-5%, -10%);
        }
    
        20% {
          transform: translate(-15%, 5%);
        }
    
        30% {
          transform: translate(7%, -25%);
        }
    
        40% {
          transform: translate(-5%, 25%);
        }
    
        50% {
          transform: translate(-15%, 10%);
        }
    
        60% {
          transform: translate(15%, 0%);
        }
    
        70% {
          transform: translate(0%, 15%);
        }
    
        80% {
          transform: translate(3%, 35%);
        }
    
        90% {
          transform: translate(-10%, 10%);
        }
      }
}

/*** Container ***/
.container-layout {
    width: 95%;

    margin: {
        right: auto;
        left: auto;
    }

    @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 15px;
    }
}

.container-start {
    width: 97.5%;
    margin-left: auto;

    @media (max-width: 575.98px) {
        width: 100%;
        padding-left: 15px;
    }
}

.container-samll {
    width: 70%;

    margin: {
        right: auto;
        left: auto;
    }

    @media (max-width: 575.98px) {
        width: 100%;
        padding: 0 15px;
    }
}




.my-section {
    margin-top: 70px;
    margin-bottom: 70px;

    @media (max-width: 991.98px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.py-section {
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: 991.98px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.padding-top {
    padding-top: 70px;

    @media (max-width: 575.98px) {
        padding-top: 100px;
    }
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &.contain {
        object-fit: contain;
    }

    &.position-absolute {
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: -1;
    }
}

.font-extra-bold {
    font-family: $fontExtraBold;
}

/*** Titles ***/
.main-title {

    @media (min-width: 1600px) {
        font-size: 130px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 115px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 80px;
    }


    @media (max-width: 575.98px) {
        font-size: 40px;
    }
}

.section-title {

    @media (min-width: 1600px) {
        font-size: 80px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 60px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 40px;
    }


    @media (max-width: 575.98px) {
        font-size: 33px;
    }
}

.title-sm {

    @media (min-width: 1600px) {
        font-size: 24px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 22px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 18px;
    }


    @media (max-width: 575.98px) {
        font-size: 14px;
    }
}

.title-stroke {
    -webkit-text-fill-color: transparent;

    &.white {
        -webkit-text-stroke: 1px $white;
    }

    &.black {
        -webkit-text-stroke: 1px $black;
    }
}

.text-stroke {
    position: relative;

    &::before {
        content: attr(data-text);
        -webkit-text-stroke: 1px $black;
        -webkit-text-fill-color: transparent;
        position: absolute;
        inset: 0;
        // transform: translate(-0.5rem, -1rem);
        transform: translate(-1.5%, - 6.6%);
    }

    // &.main-title {
    // @media (min-width: 1600px) {
    //     &::before {
    //         transform: translate(-2%, -6%);
    //     }
    // }

    // @media (min-width: 1200px) and (max-width: 1599.98px) {
    //     &::before {
    //         transform: translate(-2%, -6%);
    //     }
    // }


    // @media (min-width: 576px) and (max-width: 1199.98px) {
    //     &::before {
    //         transform: translate(-2%, -6%);
    //     }
    // }


    // @media (max-width: 575.98px) {
    //     &::before {
    //         transform: translate(-2%, -6%);
    //     }
    // }
    // }
}

.description-de {
    @media (min-width: 1600px) {
        font-size: 18px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 16px;
    }


    @media (min-width: 576px) and (max-width: 1199.98px) {
        font-size: 14px;
    }


    @media (max-width: 575.98px) {
        font-size: 14px;
    }
}

.description-sm {
    @media (min-width: 1600px) {
        font-size: 16px;
    }

    @media (min-width: 1200px) and (max-width: 1599.98px) {
        font-size: 14px;
    }


    @media (max-width: 1199.98px) {
        font-size: 12px;
    }
}



/*** Buttons ***/
button,
input,
optgroup,
select,
textarea {
    outline: none;
    box-shadow: none !important;
}

.btn_main {
    border: 2px solid $black;
    border-radius: 25px;
    padding: 0.45rem 1.5rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    transition: $transitionFast;

    @media (max-width: 575.98px) {
        padding: 0.35rem 1rem;
    }

    &.white {
        background-color: $white;
        color: $black;

        &:hover {
            // background-color: $red;
            // border-color: $red;
            // color: $white;
            // font-family: $fontExtraBold;
            text-shadow:0px 0px 1px $black;
            text-decoration: underline;
        }
    }
}

.clr-white {
    color: $white;
}

/*** Start Navbar ***/
.navbar {

    .navbar-nav {
        .nav-item {
            .nav-link {
                transition: $transitionFast;
                @media (max-width: 575.98px) {
                    font-size: 14px;
                }
                &:hover,
                &.active {
                    font-family: $fontExtraBold;
                    text-decoration: underline;
                }
            }
        }
    }

    .display-time {
        position: relative;
        padding-left: 15px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: $red;
            border-radius: 50%;
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
              opacity: 0;
            }
          }
    }
}


/*** Start Hero ***/

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .hero-overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .hero-title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $white;

        .ball {
            width: 200px;
            transform-style: preserve-3d;
            animation: roundandround 7.5s 1.3s infinite linear;

            @media (min-width: 576px) and (max-width: 1199.98px) {
                margin-left: auto;
                margin-bottom: -40px;
            }


            @media (max-width: 575.98px) {
                width: 80px;
                margin-left: auto;
                margin-bottom: -30px;
            }
        }

        @keyframes roundandround {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .social-media {
        li {
            .icon {
                text-decoration: none;
                color: $white;
                transition: $transitionFast;
                @extend .description-sm;
                @media (max-width: 575.98px) {
                    font-size: 14px;
                }
                &:hover {
                    font-family: $fontExtraBold;
                    text-decoration: underline;
                }
            }
        }
    }

    .text-rotate {
        color: $white;
        font-size: 10px;
        position: absolute;
        top: 50%;
        right: 2.5%;
        transform: rotate(180deg) translateY(-50%);
        transform-origin: top;
    }
}


.marquee-swiper,
.marquee-swiper-bottom {
    background: $black;
    overflow: hidden;

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
        position: relative;
    }

    .swiper-slide {
        text-align: center;
        font-size: 26px;

        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        position: relative;
        overflow: hidden;
        padding: 0 25px 0 50px;

        @media (max-width: 575.98px) {
            font-size: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../img/shape-marquee.svg');
            background-size: contain;
        }
    }
}


/*** Work ***/
.home-list-works {
    .work-details {
        height: 100vh;
        overflow: hidden;
        position: relative;
        padding: 1.5rem;
        text-decoration: none;

        @media (max-width: 575.98px) {
            padding: 1rem;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-color: rgba($color: $black, $alpha: 0.4);
            transition: $transitionFast;
            z-index: 1;

            @media (min-width: 1200px) {
                opacity: 0;
            }
        }

        .video-info,
        .photo-info {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;

            .img {
                transition: $transitionFast;
            }

            .img-hvr {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: $transitionFast;
            }
        }

        .info {
            position: relative;
            z-index: 1;
            pointer-events: none;

            .text {

                .section-title,
                .wrap {

                    transition: $transitionFast;

                    @media (min-width: 1200px) {
                        transform: translate3d(0, 5px, 0);
                        opacity: 0;
                    }
                }

                .wrap {
                    @media (min-width: 1200px) {
                        transform: translate3d(0, 30%, 0);
                    }
                }
            }

            .details {
                color: $white;
                position: relative;
                padding-left: 20px;
                transition: $transitionFast;

                @media (min-width: 1200px) {
                    transform: translate3d(0, 5px, 0);
                    opacity: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    background-image: url('../img/icon-play.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 12px;
                    height: 100%;
                    pointer-events: none;
                }
            }
        }

        &:hover {
            @media (min-width: 1200px) {
                &::before {
                    opacity: 1;
                }

                .photo-info {
                    .img {
                        opacity: 0;
                    }

                    .img-hvr {
                        opacity: 1;
                    }
                }

                .info {
                    .text {
                        .section-title {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }

                        .wrap {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;

                            &:nth-child(1) {
                                transition-delay: 0.1s;
                            }

                            &:nth-child(2) {
                                transition-delay: 0.2s;
                            }

                            &:nth-child(3) {
                                transition-delay: 0.3s;
                            }

                            &:nth-child(4) {
                                transition-delay: 0.4s;
                            }

                            &:nth-child(5) {
                                transition-delay: 0.5s;
                            }
                        }
                    }

                    .details {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*** Footer ***/
footer {
    background-color: $gray;
    z-index: 99;
    position: relative;

    .title {
        position: relative;
        transition: $transitionFast;
        display: initial;
        text-decoration: none;
        color: $black;

        @media (min-width: 1200px) {
            letter-spacing: 21.6px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            background-color: $black;
            transition: $transitionFast;

            @media (min-width: 1200px) {
                width: 25%;
            }

            @media (max-width: 1199.98px) {
                width: 100%;
            }
        }

    }

    .title-hvr {
        &:hover {
            .title {
                @media (min-width: 1200px) {
                    letter-spacing: normal;
                }

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .border-bottom-footer {
        border-bottom: 4px solid $black;
    }

    .circle-animation {
        height: 145px;
        width: 145px;
        margin-left: auto;

        @media (max-width: 575.98px) {
            height: 85px;
            width: 85px;
            display: none;
        }
    }

    .mail {
        a {
            color: $black;

            // text-decoration: none;
            &:hover {
                color: $black;
            }
        }
    }

    .social-media {
        .icon {
            color: $black;

            &:hover {
                color: $black;
                font-family: $fontExtraBold;
            }
        }
    }
}

.backToTop {
    cursor: pointer;

    .text {
        text-decoration: underline;
    }
}


/*** Contact US ***/
.contact-us {

    .min-h {
        min-height: calc(100vh - 70px);
    }

    .title {
        position: relative;
        transition: $transitionFast;
        
        text-decoration: none;
        color: $black;

        @media (min-width: 1200px) {
            letter-spacing: 21.6px;
            display: block;
        }

        @media (max-width: 1199.98px) {
            display: inline-block;
        }

    }


    .border-bottom-footer {
        border-bottom: 4px solid $black;
    }

    .border-top-footer {
        border-top: 4px solid $black;
    }

    .circle-animation {
        height: 145px;
        width: 145px;
        margin-left: auto;

        @media (max-width: 575.98px) {
            height: 85px;
            width: 85px;
        }
    }

    .mail {
        a {
            color: $black;

            &:hover {
                color: $black;
            }
        }
    }

    .social-media {
        .icon {
            color: $black;

            &:hover {
                color: $black;
                font-family: $fontExtraBold;
            }
        }
    }

    .contact-info {
        li {
            &:not(:last-child) {
                border-bottom: 2px solid rgba($color: $black, $alpha: 0.4);
            }

            padding:1rem 0;

            &:last-child {
                padding-bottom: 0;
            }

            .tel {
                color: $black;

                &:hover {
                    font-family: $fontExtraBold;
                }
            }
        }
    }
}

/*** BIO ***/
.bio {
    .pic {
        height: 500px;
        // overflow: hidden;
        position: relative;

        @media (max-width: 575.98px) {
            height: 400px;
            margin-bottom: 50px;
        }

        img {
            transition: $transitionFast;
        }

        &:not(:hover) {
            img {
                // mix-blend-mode: luminosity;
                filter: grayscale(1);
            }
        }

        &::after {
            content: '';
            position: absolute;

            background-image: url('../img/shape-bio-image.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 140px;
            height: 140px;
            bottom: -70px;
            left: -70px;

            @media (max-width: 575.98px) {
                width: 80px;
                height: 80px;
                bottom: -40px;
                left: -40px;
            }
        }
    }
}

/*** AWARDS & SELECTIONS ***/
.awards-selection {
    .list-awards-selection {
        li {
            &:not(:last-child) {
                border-bottom: 1px solid $black;
            }

            padding:1rem 0;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}



//   .container-filter .mix:after{
//     content: attr(data-myorder);
//     color: white;
//     font-size: 16px;
//     display: inline-block;
//     vertical-align: top;
//     padding: 4% 6%;
//     font-weight: 700;
//   }

//   .container-filter .mix:before{
//     content: '';
//     display: inline-block;
//     padding-top: 60%;
//   }

//   @media all and (min-width: 420px){
//     .container-filter .mix,
//     .container-filter .gap{
//       width: 32%;
//     }
//   }

//   @media all and (min-width: 640px){
//     .container-filter .mix,
//     .container-filter .gap{
//       width: 23.5%;
//     }
//   }


.text-rotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/*** All Works ***/

.all-works-title {
    .shape-works {
        max-width: 175px;
    }
}

.all-works {
    .container-filter {

        .mix,
        .gap {
            display: inline-block;
        }

        .mix {
            display: none;
        }

        .work-details {
            height: 400px;
            overflow: hidden;
            position: relative;
            padding: 1.5rem;
            text-decoration: none;

            @media (max-width: 575.98px) {
                padding: 1rem;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background-color: rgba($color: $black, $alpha: 0.4);
                transition: $transitionFast;
                z-index: 1;

                @media (min-width: 1200px) {
                    opacity: 0;
                }
            }

            .photo-info {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;

                .img {
                    transition: $transitionSlow;
                }

                .img-hvr {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    transition: $transitionFast;
                }
            }

            .info {
                position: relative;
                z-index: 1;
                pointer-events: none;

                .text {

                    .section-title,
                    .wrap {

                        transition: $transitionFast;

                        @media (min-width: 1200px) {
                            transform: translate3d(0, 5px, 0);
                            opacity: 0;
                        }
                    }

                    .wrap {
                        @media (min-width: 1200px) {
                            transform: translate3d(0, 30%, 0);
                        }
                    }
                }

                .details {
                    color: $white;
                    position: relative;
                    padding-left: 20px;
                    transition: $transitionFast;

                    @media (min-width: 1200px) {
                        transform: translate3d(0, 5px, 0);
                        opacity: 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        background-image: url('../img/icon-play.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 12px;
                        height: 100%;
                        pointer-events: none;
                    }
                }
            }

            &:hover {
                @media (min-width: 1200px) {
                    &::before {
                        opacity: 1;
                    }

                    .photo-info {
                        img {
                            transform: scale3d(1.3, 1.3, 1);
                        }
                    }

                    .info {
                        .text {
                            .section-title {
                                transform: translate3d(0, 0, 0);
                                opacity: 1;
                            }

                            .wrap {
                                transform: translate3d(0, 0, 0);
                                opacity: 1;

                                &:nth-child(1) {
                                    transition-delay: 0.1s;
                                }

                                &:nth-child(2) {
                                    transition-delay: 0.2s;
                                }

                                &:nth-child(3) {
                                    transition-delay: 0.3s;
                                }

                                &:nth-child(4) {
                                    transition-delay: 0.4s;
                                }

                                &:nth-child(5) {
                                    transition-delay: 0.5s;
                                }
                            }
                        }

                        .details {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .controls {
        position: fixed;
        z-index: 9;

        @media (min-width: 1200px) {
            left: 2rem;
            bottom: 2rem;
        }

        @media (max-width: 1199.98px) {
            left: 50%;
            transform: translateX(-50%);
            bottom: 1.5rem;
        }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: fit-content;
        }

        .dropdown-toggle {
            &::after {
                border: none;
                background-image: url('../img/select-arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;

                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                transition: $transitionFast;

                @media (min-width: 1200px) {
                    width: 16px;
                    height: 16px;
                }

                @media (max-width: 1199.98px) {
                    width: 12px;
                    height: 12px;
                }
            }

            &.show {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        .bootstrap-select>.dropdown-toggle {
            border: 2px solid $black;
            border-radius: 25px;
            text-decoration: none;
            outline: none !important;
            box-shadow: none !important;
            padding: 0.45rem 2.5rem 0.45rem 1.5rem;

            &.show {
                border-radius: 0px 0px 25px 25px;
                border-top-color: rgba($color: $black, $alpha: 0.4);
            }

            .filter-option-inner-inner {
                font-family: $fontExtraBold
            }
        }

        .bootstrap-select * {
            @extend .description-sm;
            color: $black;
        }

        .bootstrap-select {
            .dropdown-menu {
                &:not(.inner) {
                    border: 2px solid $black;
                    border-radius: 25px;
                    border-radius: 25px 25px 0px 0px;
                    border-bottom-color: transparent;
                    bottom: -4px !important;
                }

            }

            .dropdown-item {

                &.active,
                &:active {
                    font-family: $fontExtraBold;
                    background-color: transparent;
                }
            }
        }



    }

}

.responsive-embed {
    position: relative;
    // padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    // padding-top: 25px;

    height: 80vh;
    iframe {
        position: absolute;
        width: 100%!important;
        height: 100%!important;
    }
}
.inner-works {
    .more-works {
        border-bottom: 4px solid $black;
        padding-bottom: 1rem;
        a {
            color: $black;
        }
    }

    /*** Swiper Images ***/

    .swiper_thumbs {
       
        @media (min-width: 1200px)  {
            height: 100vh;
        }
    
        @media (max-width: 1199.98px) {
            height: 100px;
        }

        .swiper-slide {
            cursor: pointer;
        }
      }
    

      .slider-images {
        @media (max-width: 1199.98px) {
            padding-top: 1rem;
            margin: 0 auto;
        }
        .swiper_images {
            @media (min-width: 1200px)  {
                height: 100%;
            }
        
            @media (max-width: 1199.98px) {
                height: 250px;
            }
         
        }
      }
      
}


/*** See Also ***/
.see-also {
    .swiper-see-also {
        overflow: hidden;
        .swiper-slide {
            a {
                text-decoration: none;
                color: $black;
                .img {
                   
                    overflow: hidden;
                    img {
                        transition: $transitionFast;
                        @media (min-width: 1200px)  {
                            height: 350px;
                        }
                    
                        @media (max-width: 1199.98px) {
                            height: 250px;
                        }
                    }
                }
                @media (min-width: 1200px)  {
                    &:hover {
                       img {
                        transform: scale3d(1.3, 1.3, 1);
                       }
                    }
                }
            }
        }
    }
}



/*** Start Cursor ***/
.cursor-custom {
    &.filter {
    .cursor-dot-outline {
        backdrop-filter: invert(100%);
    }
    }
    .cursor-dot,
    .cursor-dot-outline {
        pointer-events: none;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    
    .cursor-dot {
        $size: 8px;
        width: $size;
        height: $size;
        background-color: $black;
    }
    
    .cursor-dot-outline {
        $size: 40px;
        width: $size;
        height: $size;
        background-color: rgba($white, 0.5);
    }
}

/*** End Cursor ***/